.Wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.OrderFooter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.Price { 

}

.ProceedButton {
  padding: 1rem;
  border: none;
  cursor: pointer;
  background-color: #8F5E1E;
  border-radius: 5px;
  color: white;
}