.button {
  border: none;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: .8rem;
  border-radius: 5px; 
  cursor: pointer;
}

.primary {
  background-color: #10a103;
}

.secondary {
  background-color: #fa4932;
}